body{
  background-color:#FFB6C1;
}
header{
  width:50%;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  background-color:#F08080;
  color:#483D8B;
}
nav{
  text-align:center;
}
a{
  color:#1E90FF;
}
.text{
  color:#483D8B;
}
.textg{
  font-size:80%;
  color:#483D8B;
}
footer{
  text-align:center;
  background-color:#F08080;
}
.hmenu{
  text-align:center;
  color:#483D8B;
  background-color:#F08080;
  margin-left:auto;
  margin-right:auto;
  width:80%;
}
.textm{
  text-align:center;
}
dt{
  font-size:130%;
  text-align:center;
  text-decoration:underline;
}
